
body {
    background-color: #153448;
    font-family: "Inter", sans-serif;
    color: #fff;
    
    margin: auto;
}

.nobody-items {
    border: 1px solid #fff;
    border-radius: 0px;
    margin-bottom: 3px;

}

.body-items {
    margin-bottom: 3px;
    width: 80%;
    margin-left: 10%;

}

.new-nav {
    padding: 20px;
    margin-left: 10%;
    width: 80%;
}

.nav-items {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
    margin-left: 15px;
    
}

.head {
        text-align: center;
        padding-top: 2.5%;
        padding-bottom: 3.5%;
}

h1 {
    font-size: 64px;
}


.inner-one {
    background-color: #777;
}

#Service-Carousel .carousel-item {
    height: 32rem;
    
    background-color: #777;
    position: relative;
}


#Expert-Card-Slider .carousel-item {
    height: 32rem;
    position: relative;
    
}


.carousel-container {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 6%;
}

.carousel-button-lt {
    padding-right: 70px;
}

.carousel-button-rt {
    padding-left: 70px;
}

#Expert-Card-Slider .carousel-button-lt {
    padding-right: 50px;
}

#Expert-Card-Slider .carousel-button-rt {
    padding-left: 50px;
}


.about-us {
    padding-top: 2.5%;
    padding-bottom: 3.5%;
}


img.one {
    height: 40%;
    width: 50%;
    border-radius: 4%;
}

.test {
    padding-left: 60px;
}

.cs {
    height: 512px;
    width: 512px;
    position: relative;
}

img.two {
    height: 300px;
    width: 510px;
    border-radius: 1.5%;
    
    
}

